<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appInsightsInstrumentationKeyPrefix" value="appInsightsInstrumentationKey:"/>
    <add key="executablePathPrefix" value="executablePath:"/>
    <add key="suiteNamePrefix" value="suite:"/>
    <add key="threadsPrefix" value="threads:"/>
    <add key="iterationsPrefix" value="iterations:"/>

    <add key="threads" value="1"/>
    <add key="iterations" value="1"/>
    <add key="" />
  </appSettings>
</configuration>